# Dependencies
node_modules/

# Strapi files
.cache/
.strapi/
build/
dist/
.tmp/
*.log

# Environment variables
.env
.env.local
.env.*.local

# Database
*.db
*.sqlite
*.sqlite3

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

